# SPDX-FileCopyrightText: 2022 - 2023 Peter Urban, Ghent University
#
# SPDX-License-Identifier: CC0-1.0

#folders
packagecache/*
date*/*
Catch2*/*
xxhash*/*

pybind11*/*
eigen*/*
fast_float*/*
fmt*/*
magic_enum*/*
xtensor*/*
nlohmann_json*/*
pugixml*/*
xsimd*/*
xtl*/*

#git repos
meta-*
indicators-*
xtensor-python-*
